@import url('src/global.css');

body {
    background-color: #222025;
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0px 0px 550px #2318339d;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-link {
    color: white;
    text-decoration: none;
}
.animated-skills {
    position: absolute;
    top: 18vh;
    left: 0;
    width: 100vw;
    height: 70vh;
    display: flex;
    gap: 30px;
    z-index: -1;
    overflow: hidden;
}
.skill {
    position: relative;
    left: 10%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: rgba(255, 255, 255, 0.411);
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    font-weight: 800;
    height: 50px;
    opacity: 0;

    animation: down;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 5000;
}
.skill.H {
    animation-duration: 2s;
    animation-delay: 0.5s;
}
.skill.C {
    animation-duration: 2.8s;
    animation-delay: 0.7s;
}
.skill.S {
    animation-duration: 2.6s;
    animation-delay: 0.4s;
}
.skill.A {
    animation-duration: 2.2s;
    animation-delay: 0.5s;
}
.skill.R {
    animation-duration: 2.9s;
    animation-delay: 0.5s;
}
@keyframes down {
    0% {}
    20% {opacity: 1;}
    70% {opacity: 1;}
    100% {padding-top: 50vh; opacity: 0;}
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin-top: 20px;
}
.header-main {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}
.header-options-mobile {
    display: none; 
    flex-direction: column;
    padding: 5px;
    height: 20px;
    gap: 7px;
    cursor: pointer;
    margin-right: 20px;
}
.header-options-mobile-item {
    background: white; 
    height: 2.5px; 
    width: 30px; 
    border-radius: 50px;
    transition: 0.5s;
}
.header-options-mobile-item.c {
    opacity: 1;
}
.header-title {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
}
.title-icon {
    fill: none;
    stroke: #755ca5;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    padding-left: 20px;
    width: 50px;
    height: 50px;
}
.title-text {
    font-family: "Mulish", sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.header-options {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 40%;
    margin-right: 20px;
}
.header-options a {
    font-family: "Mulish", sans-serif;
    color: #b3adb8;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s;
} 
.header-options a:hover {
    color: #d4c1f7;
}
.line-bottom {
    background-color: #b297e4;
    margin-top: 5px;
    height: 2px;
    width: 0px;
    transition: 0.3s;
}
.header-options a:hover + .line-bottom{
    width: 100%;
}
main {
    width: 100vw;
    max-width: 1300px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-info {
    display: flex;
    width: 100%;
    max-width: 1300;
    height: 80%;
    margin-left: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
.info-apresentation {
    width: 100%;
    height: auto;
}
.info-apresentation p {
    font-family: "Mulish", sans-serif;
    color: white;
    font-size: 18px;
}
.info-apresentation h1 {
    font-family: "Mulish", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 56px;
}
.info-button {
    font-family: "Mulish", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px 15px 30px;
    background-color: #765ca565;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #9675d4;
}
.info-button:hover {
    box-shadow: 0px 0px 20px #c3aaf1, inset 0px 0px 20px #9675d4;
}
.info-links {
    display: flex;
    gap: 40px;
    color: white;
}
.content-image {
    width: 85%;
    margin-right: 20px;
}
.content-image img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
}

@media (max-width: 520px) {
    .content-image {
        display: none; /* Mostra no desktop */
    }
    .content-info {
        align-items: center;
    }
    .animated-skills {
        width: 100%;
        justify-content: space-around;
    }
    .skill {
        font-size: 60%;
        left: 10px;
    }
}
@media (max-width: 700px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
    .header-options {
        display: none;
    }
    .header-options-mobile {
        display: flex;
    }
    .header-title {
        width: 100%;
        align-self: flex-start;
    }
}