@import url('../../global.css');

* {
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  gap: 20px;
  height: 100%;
  padding-inline: 20px;
}
.content-titleBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: center;
  gap: 5px;
}
.title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}
.subTitle {
  color: white;
  font-size: 14px;
  font-weight: 300;
  font-family: "Mulish", sans-serif;
}
.content-show {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.show-list {
  width: 100%;
  display: flex;
  gap: 10px;
}
.list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.list-box.a {
  border: 1px solid rgb(47, 87, 199);
  background-color: rgba(47, 87, 199, 0.123);
}
.list-box.b {
  border: 1px solid rgb(158, 158, 158);
  background-color: rgba(150, 150, 150, 0.123);
}
.list-box.c {
  border: 1px solid rgb(23, 151, 40);
  background-color: rgba(20, 160, 20, 0.123);
}
.list-box.d {
  border: 1px solid rgb(91, 151, 23);
  background-color: rgba(71, 141, 14, 0.123);
}
.list-box:hover{
  background-color: rgba(172, 172, 172, 0.336);
}
.show-box {
  display: flex;
  width: 100%;
  gap: 20px;
}
.box-img {
  width: 100%;
}
.box-icon {
  width: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}